body, html {
    background-color: #ccc5ac;
    color: #fcfbf4;
}

/* Nav Bar */
#navbar {
    background-color: #1c3342;

}

a {
    color: #fcfbf4 !important;
}

#navLogo {
    padding-left: 6%;
}

#logo {
    height: 10em;
}

#collapsingNavbar3{
    padding-right: 5%;
}

#name {
    font-size: 3em;
}

#links {
    font-size: 1.2em;
    
}

.nav-item:hover{
    /* background-color: pink; */
    font-size:1.4em;
}


/* Description */
#description {
    background-color: #3e606f; 
}

/* Description 2 */
#description2 {
    background-color: #86958A; 
}

/* Footer */
#footer {
    background-color: #1c3342;
    background-image: url("../photos/black-linen.png");
}